<!DOCTYPE html>
<html th:lang="${#locale.language}" class="notranslate" translate="no" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:content="#{title}"></title>
</head>
<body>
<h1 th:text="#{title}"></h1>

<form class="form-signin" method="post" th:action="@{/register}" th:object="${register}">
    <div class="form-group">
        <label class="col-form-label" for="tenantname"><span th:text="#{name}"></span></label>
        <b><span
                class="text-danger" th:errors="*{tenantname}"
                th:if="${#fields.hasErrors('tenantname')}"></span></b>
        <input autocomplete="tenantname" autofocus class="form-control" id="tenantname" name="tenantname"
               required th:field="*{tenantname}" size="90"
               th:placeholder="#{name.placeholder}"
               type="text">
    </div>
    <hr/>
    <b>
    <span
            class="text-danger" th:errors="*{captcha}"
            th:if="${#fields.hasErrors('captcha')}"></span>
    </b>
    <p th:text="#{captcha.label}"></p>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="captcha" id="inlineRadio1" value="car">
            <label class="form-check-label" for="inlineRadio1" th:text="#{captcha.car}"></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="captcha" id="inlineRadio2" value="star">
            <label class="form-check-label" for="inlineRadio2" th:text="#{captcha.star}"></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="captcha" id="inlineRadio3" value="bicycle">
            <label class="form-check-label" for="inlineRadio3" th:text="#{captcha.bike}"></label>
        </div>
    </div>
    <span
            class="text-danger" th:errors="*{global}"
            th:if="${#fields.hasGlobalErrors()}"></span>

    <button class="btn btn-lg btn-primary btn-block" id="register"
            type="submit"><span th:text="#{buttonlabel}"></span>
    </button>
</form>
</body>
</html>
